
/* SIDE MENU CSS */
body{
  margin: 0;
background: linear-gradient(#afb0e7,#4f74ee);
font-family: 'Montserrat', sans-serif;
color: #fff;
}

/* paragraph and Footer CSS*/
p{
  line-height: 1.8;
  
}
footer{
  text-align: center;
  font-size: x-small;
}

/* Buttons Css*/


.sidemenu{
  margin: 0;
  padding: 0;
  margin-top: 20px;
  width: fit-content;
  background-color: #cac6c6;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.myimg{
    height: 16rem;
    width: 11rem;
    border-radius: 9rem;
}
.parentsidemenu{
  display: inline-block;
}

/* Main menu CSS */
h3{
  color: rgb(250, 201, 67);
}

.repositories{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  }
a:link{
  text-decoration: none;
 }
 a:visited {
  color:rgb(240, 229, 229);
  background-color: transparent;
  text-decoration: none;
}
.mainMenu{
 display: inline-flex;
 flex-direction:column;
 margin: 1rem;
}

.workingexper,.educationQualifications{
  display: grid;
  grid-template-columns: 10rem 1fr;
  
  }

  

/* Animations  Header*/
.ml11 {
  font-weight: 700;
  font-size: 3.5em;
  text-align: center;

  }

.ml11 .text-wrapper {
  position: relative;
  display: inline-flex;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}